@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* First image (Landing. Full height) */
.bgimg-1 {
    background-image: url("../../assets/images/background.jpg");
    min-width: 1920px;
    min-height: 783px;
    opacity: 0.75;
    position: relative;
}

.mobileShow { display: none;}

/* Smartphone Portrait and Landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
    .mobileShow {display: inline;}
}

.column{
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}


.header {
    font-family: 'Raleway';
    font-size: 10rem;
    color: #000000;
    margin-left:-20%
}

.subheader {
    font-family: 'Raleway';
    font-size: 3rem;
    color: #000000;
    margin-left:-20%
}

.game{
    min-height: 100;
    padding-top: 3%;
    margin-bottom: 3%;
}

.profile{
    margin-left: 3%;
}

.image-cropper {
    max-width: 100px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.image-cropper img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 150%; 
    margin: 0 0 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; 
}

#pad{
    padding-right:1%;
    padding-left:1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#page1 {
    background-color: cyan;
}

#page2 {
    background-color: #ff3860;
}

#page2 .white {
    color: white;
}

#page4 .purple {
    color: white;
}

#page5 .white {
    color: white;
}

#page5{
    background-color:#FD6862;
}

#page3 {
    background-color: #008080;
}

#page4 {
    background-color: purple;
}

/* Second image*/
/*.bgimg-2 {
    background-image: url("/CNCT_spoof/images/background.jpg");
    min-height: 400px;
}*/

/* Third image*/
/*.bgimg-3 {
    background-image: url("/CNCT_spoof/images/e_commerce.jpg");
    min-height: 400px;
}*/